<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center mb-3">📝 Register</h3>

          <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" novalidate>
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" id="username" formControlName="username"
                [ngClass]="{'is-invalid': registerForm.get('username')?.invalid && registerForm.get('username')?.touched}"
                required autofocus>
              <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                class="invalid-feedback">
                Username is required.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Email Id</label>
              <input type="email" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid': (registerForm.get('email')?.invalid && registerForm.get('email')?.touched)}"
                required>
              <div
                *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']"
                class="invalid-feedback">
                Email is required.
              </div>
              <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']"
                class="invalid-feedback">
                Email is not valid.
              </div>
            </div>
            <div class="mb-3 d-flex align-items-center">
              <label class="form-label me-2 mb-0">Role:</label>

              <div class="form-check me-3">
                <input class="form-check-input" type="radio" formControlName="role" id="rolePatient" value="Patient">
                <label class="form-check-label" for="rolePatient">Patient</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="role" id="roleDoctor" value="Doctor">
                <label class="form-check-label" for="roleDoctor">Doctor</label>
              </div>
            </div>

            <div class="mb-3 position-relative">
              <label class="form-label">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password"
                [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"
                required>

              <button type="button" *ngIf="registerForm.get('password')?.value"
                class="btn btn-sm position-absolute end-0 translate-middle-y me-4 btn-pswd-vsbl"
                (click)="togglePasswordVisibility('password')" tabindex="-1">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>

              <div
                *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']"
                class="invalid-feedback">
                Password is required.
              </div>
              <div
                *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['weakPassword']"
                class="invalid-feedback">
                Passwords is weak.
              </div>
            </div>

            <div class="mb-3 position-relative">
              <label class="form-label">Confirm Password</label>
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                formControlName="confirmPassword"
                [ngClass]="{'is-invalid': (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['required']) || (registerForm.get('confirmPassword')?.touched && registerForm.errors?.['mismatch'])}"
                required>

              <button type="button" *ngIf="registerForm.get('confirmPassword')?.value"
                class="btn btn-sm position-absolute end-0 translate-middle-y me-4 btn-pswd-vsbl"
                (click)="togglePasswordVisibility('confirmPassword')" tabindex="-1">
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>

              <div
                *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['required']"
                class="invalid-feedback">
                Confirm Password is required.
              </div>
              <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.errors?.['mismatch']"
                class="invalid-feedback">
                Passwords do not match.
              </div>
            </div>

            <button type="submit" class="btn btn-success w-100" [disabled]="registerForm.invalid">Register</button>
            <span class="d-block mt-3 p-2 w-100 text-center text-danger" *ngIf="isError">Login failed. please check your
              credentials.</span>
          </form>

          <p class="text-center mt-3">
            Already have an account? <a (click)="goToLogin()" class="link-primary fw-semibold" role="button">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>