<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm border-0">
        <div class="card-body p-4">
          <h3 class="card-title text-center mb-4 fw-bold">🔐 Login</h3>

          <div *ngIf="error" class="alert alert-danger py-2 px-3 mb-3">{{ error }}</div>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
            <div class="mb-3">
              <label class="form-label fw-semibold" for="username">Username</label>
              <input type="text" class="form-control form-control-lg" id="username" formControlName="username"
                [ngClass]="{'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched}"
                required autofocus>
              <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                class="invalid-feedback">
                Username is required.
              </div>
            </div>
            <div class="mb-3 position-relative">
              <label class="form-label fw-semibold" for="password">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control form-control-lg" id="password" formControlName="password"
                [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
                required>
                <button type="button" *ngIf="loginForm.get('password')?.value"
                class="btn btn-sm position-absolute end-0 translate-middle-y me-4 btn-pswd-vsbl"
                (click)="togglePasswordVisibility()" tabindex="-1">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                class="invalid-feedback">
                Password is required.
              </div>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary rounded-pill shadow-sm login-btn" type="submit"
                [disabled]="loading || loginForm.invalid" [class.animate]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></span>
                {{ loading ? 'Logging in...' : 'Login' }}
              </button>
              <span class="d-block mt-3 p-2 w-100 text-center text-danger" *ngIf="isError">Login failed. please check your credentials.</span>
            </div>
          </form>

          <p class="text-center mt-4 mb-0">
            Don’t have an account? <a (click)="goToRegister()" class="link-primary fw-semibold"
              role="button">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>