<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-primary">MediMate</a>

    <div class="ms-auto">
      <button class="btn btn-outline-danger" (click)="logout()" *ngIf="isLoggedIn">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </div>
  </div>
</nav>

<div class="container-fluid p-4">
  <router-outlet></router-outlet>
</div>

<!-- Floating Chat Widget -->
<app-chat-widget *ngIf="isLoggedIn"></app-chat-widget>
